.header {
  transform: translateZ(100rem);
  position: sticky;
  position: -webkit-sticky;
  top: 0rem;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.95);
  color: $color-blue-dark;
  font-size: 2rem;
  display: flex;
  padding: 2rem 3rem;
  justify-content: space-between;
  -webkit-transform: translateZ(100rem);
  -moz-transform: translateZ(100rem);
  -ms-transform: translateZ(100rem);
  -o-transform: translateZ(100rem);
  &__main {
    font-size: 2.8rem;
    font-weight: 600;
    margin-right: auto;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;

    &:hover {
      font-size: 3rem;
    }
  }

  & > a:not(:nth-of-type(1)) {
    margin-right: 2rem;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;

    &:hover {
      font-size: 2.2rem;
    }

    @media only screen and (max-width: $m-screen) {
      visibility: hidden;
      font-size: 0;
    }
  }

  & > a:nth-of-type(5) {
    @media only screen and (max-width: $m-screen) {
      visibility: visible;
      margin-right: 0;
      font-size: 1.5rem;
      transform: translateY(1rem);
      -webkit-transform: translateY(1rem);
      -moz-transform: translateY(1rem);
      -ms-transform: translateY(1rem);
      -o-transform: translateY(1rem);
    }
  }
}
