.news {
  background-color: $color-blue-dark;
  display: flex;
  padding: 4rem 3rem;
  flex-direction: column;
  overflow: scroll;

  @media only screen and (max-width: $s-screen) {
    height: 150%;
  }

  &__head {
    @include head;
    color: #fff;

    @media only screen and (max-width: $s-screen) {
      position: sticky;
      left: 9rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;

    @media only screen and (max-width: $s-screen) {
      width: 200%;
    }

    @media only screen and (max-width: $s-screen) {
      width: 290%;
    }

    & > div {
      display: flex;
      flex-direction: column;
      width: 30rem;
      height: 30rem;
      position: relative;

      @media only screen and (max-width: $m-screen) {
        width: 25rem;
      }

      @media only screen and (max-width: $s-screen) {
        width: 60rem;
        height: 40rem;
        margin-right: 3rem;
        min-width: 0;
      }

      @media only screen and (max-width: $xs-screen) {
        width: 80rem;
        height: 40rem;
        margin-right: 3rem;
        min-width: 0;
      }

      & > h5 {
        position: absolute;
        color: #fff;
        font-size: 3rem;
        top: 2rem;
        left: -1.4rem;
      }
    }

    @media only screen and (max-width: $s-screen) {
      min-width: 0;
    }
  }
}
