.projects {
  // padding-top: 3rem;
  background-color: $color-grey-light;
  // margin-top: 5rem;
  position: relative;

  &__head {
    position: absolute;
    right: 9rem;
    top: 4rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 400;
  }

  &__container {
    // display: flex;
    // justify-content: space-around;
    display: grid;
    grid-template-rows: repeat(2, minmax(40rem, 1fr));
    grid-template-columns: repeat(2, minmax(30rem, 1fr));
    justify-content: center;
    margin: 0 4rem;
    align-items: center;
    grid-gap: 2rem;

    & > p {
      font-size: 2rem;
    }

    & > div {
      display: flex;
      flex-direction: column;
      justify-self: center;
      position: relative;

      & > h4 {
        position: absolute;
        font-size: 2.3rem;
      }

      &:first-of-type {
        box-shadow: 0rem 0.8rem 0.9rem 0.2rem rgba(0, 0, 0, 0.4);
        background-image: linear-gradient(
            to top right,
            rgba(16, 91, 204, 0.9),
            rgba(70, 33, 88, 0.9)
          ),
          url("https://images.pexels.com/photos/669615/pexels-photo-669615.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
        background-size: cover;
        height: 40rem;
        width: 40rem;
        transform: perspective(27rem) rotateY(7deg);
        -webkit-transform: perspective(27rem) rotateY(7deg);
        -moz-transform: perspective(27rem) rotateY(7deg);
        -ms-transform: perspective(27rem) rotateY(7deg);
        -o-transform: perspective(27rem) rotateY(7deg);

        & > h4 {
          padding: 0.5rem 1.3rem;
          background: linear-gradient(to bottom right, white 50%, $color-grey);
          color: black;
          right: -5rem;
          left: 5rem;
          top: 3rem;
        }
      }

      &:nth-of-type(2) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        box-shadow: 0rem 0.8rem 0.9rem 0.2rem rgba(0, 0, 0, 0.4);
        background-image: linear-gradient(
            to top right,
            rgba(16, 91, 204, 0.9),
            rgba(24, 182, 121, 0.9)
          ),
          url("https://images.pexels.com/photos/7096/people-woman-coffee-meeting.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
        background-size: cover;
        height: 40rem;
        width: 40rem;
        transform: perspective(27rem) rotateY(-7deg);
        -webkit-transform: perspective(27rem) rotateY(-7deg);
        -moz-transform: perspective(27rem) rotateY(-7deg);
        -ms-transform: perspective(27rem) rotateY(-7deg);
        -o-transform: perspective(27rem) rotateY(-7deg);

        & > h4 {
          color: black;
          padding: 0.5rem 1.3rem;
          background: linear-gradient(to top left, white 70%, $color-grey);
          left: -5rem;
          top: 3rem;
          right: 5rem;
        }
      }
    }
  }
}
