.publications {
  // background-color: rgba($color-blue-light, 0.4);
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  color: #fff;

  &__head {
    @include head;
    color: $color-blue-dark;

    @media only screen and (max-width: $s-screen) {
      margin: auto;
      font-size: 3.8rem;
      margin-top: 3rem;
    }

    @media only screen and (max-width: $xs-screen) {
      font-size: 2.5rem;
      margin-top: 1rem;
    }
  }

  &__articles {
    display: flex;
    justify-content: space-evenly;
    margin: 4rem 0;

    @media only screen and (max-width: $s-screen) {
      flex-direction: column;
    }

    & > div {
      background: linear-gradient(
        to top left,
        $color-blue-dark,
        $color-blue 60%
      );
      display: flex;
      flex-direction: column;
      width: 30rem;
      padding: 2rem;
      box-shadow: 0rem 1.2rem 2rem 0rem rgba($color-blue-dark, 0.7);

      @media only screen and (max-width: $s-screen) {
        width: 50rem;
        margin: 3rem auto;
        padding: 2rem 4rem 4rem 4rem;
      }

      @media only screen and (max-width: $xs-screen) {
        width: 30rem;
      }
    }

    & > div > svg {
      margin-top: -4rem;
      fill: $color-grey;
      width: 5rem;
      height: 5rem;
      margin-bottom: 1rem;
    }

    & > div > h3 {
      font-size: 2rem;
      margin-bottom: auto;

      @media only screen and (max-width: $s-screen) {
        font-size: 3rem;
      }

      @media only screen and (max-width: $xs-screen) {
        font-size: 2rem;
      }
    }

    & > div > span {
      @media only screen and (max-width: $s-screen) {
        font-size: 1.8rem;
        margin-top: 2rem;
      }

      @media only screen and (max-width: $xs-screen) {
        font-size: 1.4rem;
      }
    }
  }
}
